In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import warnings
from pandas import DataFrame,Series
from scipy import stats
from sklearn.datasets import load_boston
warnings.filterwarnings('ignore')

In [2]:
boston = load_boston()
print (boston.DESCR)

.. _boston_dataset:

Boston house prices dataset
---------------------------

**Data Set Characteristics:**

    :Number of Instances: 506

    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.

    :Attribute Information (in order):
        - CRIM     per capita crime rate by town
        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.
        - INDUS    proportion of non-retail business acres per town
        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
        - NOX      nitric oxides concentration (parts per 10 million)
        - RM       average number of rooms per dwelling
        - AGE      proportion of owner-occupied units built prior to 1940
        - DIS      weighted distances to five Boston employment centres
        - RAD      index of accessibility to radial highways
        - TAX      full-value property-tax rate per $10,000
        - PTRATIO  pupil-teacher ratio by town
        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
        - LSTAT    % lower status of the population
        - MEDV     Median value of owner-occupied homes in $1000's

    :Missing Attribute Values: None

    :Creator: Harrison, D. and Rubinfeld, D.L.

This is a copy of UCI ML housing dataset.
https://archive.ics.uci.edu/ml/machine-learning-databases/housing/


This dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.

The Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic
prices and the demand for clean air', J. Environ. Economics & Management,
vol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics
...', Wiley, 1980.   N.B. Various transformations are used in the table on
pages 244-261 of the latter.

The Boston house-price data has been used in many machine learning papers that address regression
problems.

.. topic:: References

   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.
   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.

In [3]:
X = boston["data"]
Y = boston["target"]
names = list(boston["feature_names"])

In [4]:
inp_df = pd.DataFrame(X, columns=names)

In [5]:
inp_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [6]:
for i in range(0, len(names)):
    y = inp_df.loc[:, inp_df.columns == names[i]]
    x = inp_df.loc[:, inp_df.columns != names[i]]
    model = sm.OLS(y, x)
    results = model.fit()
    rsq = results.rsquared
    vif = round(1 / (1 - rsq), 2)
    print(
        "R Square value of {} column is {} keeping all other columns as features".format(
            names[i], (round(rsq, 2))
        )
    )
    print(
        "Variance Inflation Factor of {} column is {} \n".format(
            names[i], vif)
        )

R Square value of CRIM column is 0.52 keeping all other columns as features
Variance Inflation Factor of CRIM column is 2.1

R Square value of ZN column is 0.65 keeping all other columns as features
Variance Inflation Factor of ZN column is 2.84

R Square value of INDUS column is 0.93 keeping all other columns as features
Variance Inflation Factor of INDUS column is 14.49

R Square value of CHAS column is 0.13 keeping all other columns as features
Variance Inflation Factor of CHAS column is 1.15

R Square value of NOX column is 0.99 keeping all other columns as features
Variance Inflation Factor of NOX column is 73.89

R Square value of RM column is 0.99 keeping all other columns as features
Variance Inflation Factor of RM column is 77.95

R Square value of AGE column is 0.95 keeping all other columns as features
Variance Inflation Factor of AGE column is 21.39

R Square value of DIS column is 0.93 keeping all other columns as features
Variance Inflation Factor of DIS column is 14.7

R Square value of RAD column is 0.93 keeping all other columns as features
Variance Inflation Factor of RAD column is 15.17

R Square value of TAX column is 0.98 keeping all other columns as features
Variance Inflation Factor of TAX column is 61.23

R Square value of PTRATIO column is 0.99 keeping all other columns as features
Variance Inflation Factor of PTRATIO column is 85.03

R Square value of B column is 0.95 keeping all other columns as features
Variance Inflation Factor of B column is 20.1

R Square value of LSTAT column is 0.91 keeping all other columns as features
Variance Inflation Factor of LSTAT column is 11.1